/* colors */
$primary-color-gradient: linear-gradient(45deg, rgba(212,16,66,1) 0%, rgba(253,53,94,1) 100%);
$primary-color: #fa2a5e;
$primary-color-hover: #C10F3C;
$primary-color-active: #AF0E37;
$primary-color-disabled: #EA88A1;

/* colors Light-mode */

/* colors Dark-mode */
$summary-primary-dark: #0f0f10;
$summary-secondary-dark: #242424;

$text-primary-dark: #ffffff;
$text-secondary-dark: #898989;

/* color Light-mode */
$summary-primary-light: #ffffff;
$summary-secondary-light: #f2f2f2;
$summary-third-light: #f0faf9;

$text-primary-light: #141414;
$text-secondary-light: #b1b1b1;

/* Fonts */
$base-font-family: 'Helvetica Neue', Arial, sans-serif;
$base-font-size: 16px;

/* Spacing */
$base-spacing-unit: 1rem;
$small-spacing-unit: 0.5rem;
$large-spacing-unit: 2rem;

/* Border */
$br-lite: 5px;
$br-medium: 10px;
$br-heavy: 20px;
$br-x-heavy: 35px;
$br-infinity: 999px;

/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
