* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ol,li{
    list-style: none;
}

button{
    &:focus,
    &:active{
        border: 1px solid transparent !important;
        outline: none;
    }
}

body {
    background-color: $summary-secondary-light;
    overflow: hidden;
}


*::-webkit-scrollbar{
    width: .3rem;
    margin: 2.5rem 0;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: $text-primary-light;
    border-radius: $br-infinity;
}

/* ------ flaticon problem fix -------*/
.fi {
    position: relative;
}

.fi::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

main{
    background-color: $summary-primary-light;
    border-radius: $br-x-heavy;
    width: 100%;
    height: 100%;
}