.btn-close{
    background-image: unset;
    @include flex-center;
    color: $text-primary;
    transition: all .3s ease;
    opacity: .4;

    &:hover{
        color: $text-primary;
        opacity: 1;
    }
}

button{
    box-shadow: unset !important;
}

/* ----- promt btn ----- */
.promt-btn{
    @include flex-sb;
    border: 1px solid $body-secondary;
    border-radius: $br-x-heavy;
    padding: 5px 24px;
    color: $text-secondary;
    font-size: 13px;
    transition: all .3s ease;

    i{
        margin-right: .9rem;
    }

    &:hover{
        color: $body-primary;
        background-color: $text-primary;
        border: 1px solid $text-primary;
    }

    &:active{
        color: $body-primary !important;
        background-color: $text-primary !important;
        transform: scale(.98);
        border: 1px solid $text-primary !important;
    }
}