.chat-form {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $summary-primary-light;
    z-index: 1000;
    border-radius: 0 0 $br-x-heavy $br-x-heavy;

    .content {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 1rem;
        padding-top: 0;
        overflow: hidden;

        input[type="text"] {
            flex: 1;
            border-radius: $br-infinity;
            padding: calc(.5rem + 3px) 1rem;
            border: 1px solid $summary-secondary-light;
            outline: none;
            font-size: 14px;
        }

        button {
            width: 45px;
            height: 45px;
            @include flex-center;
            border-radius: $br-infinity;
            background-color: $text-primary-light;
            color: $summary-primary-light;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $primary-color;
                color: $summary-primary-light;
            }

            i {
                font-size: 1rem;
            }
        }
    }
}