.modal{

    .modal-dialog{
        background-color: $body-primary;
        border-radius: $br-heavy !important;

        .modal-content{
            background-color: $body-primary;
            border-radius: $br-heavy !important;

            .modal-header{
                background-color: $body-primary;
                border-radius: $br-heavy !important;
                border: none;
                color: $text-primary;

            }
            
            .modal-body{
                border-radius: $br-heavy !important;
                background-color: $body-primary;
                color: $text-primary;
            }
            
        }
    }
}