/* assets/main.scss */
/* Core Imports */
/* colors */
/* colors Light-mode */
/* colors Dark-mode */
/* color Light-mode */
/* Fonts */
/* Spacing */
/* Border */
/* Breakpoints */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
.padding-content {
  padding: 1rem;
}

.h-full {
  height: calc(100vh - 6rem);
}

.border-heavy {
  border-radius: 35px;
}

/* Components */
.dropdown .dropdown-menu {
  border: 1px solid #f2f2f2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  padding: 5px;
}
.dropdown .dropdown-menu .dropdown-item {
  border-radius: 10px;
  padding: 8px 25px;
}
.dropdown .dropdown-toggle:hover i {
  transform: translate(180deg);
}
.dropdown .dropdown-toggle::after {
  display: none;
}

.navbar .dropdown-centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 1rem;
  font-size: 14px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #f2f2f2;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
header .navbar {
  padding: 1rem;
}
header .navbar .navbar-nav {
  background-color: #ffffff;
  border-radius: 999px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .navbar .navbar-nav .nav-item .nav-link {
  border-radius: 999px;
  padding: 11px 26px;
  color: #b1b1b1;
  font-weight: 500;
  font-size: 14px;
}
header .navbar .navbar-nav .nav-item .nav-link.active {
  background-color: #141414;
  color: #ffffff;
}
header .button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  gap: 10px;
}
header .button-list .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 999px;
  background-color: #f2f2f2;
}
header .button-list .btn img {
  width: 35px;
  height: 35px;
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
}

.r {
  padding-top: 87px;
}

aside {
  position: sticky;
  top: 5rem;
  display: block !important;
  padding-left: 0.25rem;
  margin-left: -0.25rem;
  height: 100%;
  overflow-y: auto;
  width: 350px;
  border-radius: 35px;
}
aside .content {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 35px;
  background-color: #ffffff;
}
aside .content .list-group {
  padding: 1rem;
  gap: 10px;
}
aside .content .list-group .list-group-item {
  border-radius: 35px;
  border: none;
  background-color: #f0faf9;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 0.5rem;
}
aside .content .list-group .list-group-item .icon {
  min-width: 45px;
  height: 45px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  color: #141414;
}
aside .content .list-group .list-group-item p {
  margin: 0;
  padding: 0;
  font-size: small;
  text-align: start;
  color: #141414;
  font-weight: 500;
}
aside .content .list-group .list-group-item:hover {
  background-color: #141414;
}
aside .content::-webkit-scrollbar-track {
  margin: 2.5rem 0;
}
aside .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
aside .sidebar-header h5 {
  font-weight: 700;
}
aside .sidebar-header .toggle-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 999px;
}

.chat-section {
  position: relative;
  overflow-y: auto;
  height: 100%;
  border-radius: 35px;
}
.chat-section::-webkit-scrollbar-track {
  margin: 2.5rem 0;
}
.chat-section .header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  border-radius: 35px 35px 0 0;
}
.chat-section .header h2 {
  font-weight: 700;
}
.chat-section .header .toggle-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 999px;
}
.chat-section .chat-content {
  padding: 1rem;
  overflow-y: auto;
  border-radius: 35px;
  height: calc(100% - 8.3rem);
}
.chat-section .chat-content .message {
  overflow-y: auto;
  height: 100%;
  border-radius: 35px;
}
.chat-section .chat-content .message .bot-message,
.chat-section .chat-content .message .user-message {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  font-size: 14px;
  gap: 15px;
}
.chat-section .chat-content .message .bot-message img,
.chat-section .chat-content .message .user-message img {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: flex-start;
}
.chat-section .chat-content .message .bot-message p,
.chat-section .chat-content .message .user-message p {
  margin: 0;
  padding: 0;
  color: #141414;
}
.chat-section .chat-content .message .bot-message {
  background-color: #f0faf9;
  border-radius: 35px;
}
.chat-section .chat-content .message .bot-message .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.chat-section .chat-content .message .bot-message .footer .text-edit,
.chat-section .chat-content .message .bot-message .footer .feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.chat-section .chat-content .message .bot-message .footer .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 999px;
  color: #141414;
  transition: all 0.3s ease;
}
.chat-section .chat-content .message .bot-message .footer .btn i {
  color: #b1b1b1;
}
.chat-section .chat-content .message .bot-message .footer .btn:hover {
  background-color: #141414;
  color: #ffffff;
}
.chat-section .chat-content .message .bot-message .footer .btn:hover i {
  color: #ffffff;
}
.chat-section .chat-content .message .bot-message .footer .btn:active {
  background-color: #474747;
  transform: scale(0.95);
}
.chat-section .chat-content .message .bot-message .footer .feedback {
  gap: 5px;
}
.chat-section .chat-content .message .bot-message .footer .feedback .btn {
  width: 35px;
  height: 35px;
  padding: 10px;
}
.chat-section .chat-content .message .bot-message .footer .text-edit .btn {
  justify-content: space-between;
  gap: 15px;
  font-size: 12px;
  padding: 7px 15px;
}

.chat-form {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  border-radius: 0 0 35px 35px;
}
.chat-form .content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  padding-top: 0;
  overflow: hidden;
}
.chat-form .content input[type=text] {
  flex: 1;
  border-radius: 999px;
  padding: calc(0.5rem + 3px) 1rem;
  border: 1px solid #f2f2f2;
  outline: none;
  font-size: 14px;
}
.chat-form .content button {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: #141414;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.chat-form .content button:hover {
  background-color: #fa2a5e;
  color: #ffffff;
}
.chat-form .content button i {
  font-size: 1rem;
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ol, li {
  list-style: none;
}

button:focus, button:active {
  border: 1px solid transparent !important;
  outline: none;
}

body {
  background-color: #f2f2f2;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 0.3rem;
  margin: 2.5rem 0;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 999px;
}

/* ------ flaticon problem fix -------*/
.fi {
  position: relative;
}

.fi::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  background-color: #ffffff;
  border-radius: 35px;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans Georgian", sans-serif;
}

/* Page or Layout Styles *//*# sourceMappingURL=main.css.map */